body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.post-image{
    width:100%;
    margin:0px;
}

.post-row{
    border-bottom: 1px solid #dadada;
}

.text-editor{
    height:100px !important;
    max-width:999999px;
    width:100%;
}

.comment-row{
    margin:10px;
    padding:10px;
    border:1px solid #dadada;
}

.reply-row{
    border-bottom:1px solid #dadada;
}

.comment-image{
    border: 1px solid #df691a;
    width:80%;
}

.person-image{
    max-height:100px !important;
    max-width:100px !important;
    border: 1px solid #df691a;
}

.person-name{
    font-size:18px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.quote-row{
    background:black;
    padding: 15px;
    font-family:'Segoe Script';
    border: 1px solid #df691a;
}

.quote-author-img{
    width:60px;
    height:60px;
}

.inline{
    display:inline;
}